---
import Header from "../../components/Header.astro"
import civilizations from "../../data/civilizations.json";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Hero from "../../components/Hero.astro";

export async function getStaticPaths() {


  return civilizations.map((civ) => {
     return {
    params: { slug: civ.name },
    props: { civ },
     };
  });
}

const { civ } = Astro.props;

---
<Layout>

<Header></Header>
<Hero title={civ.name}></Hero>
<section class="selections">
<nav class="selection__nav">

     {civilizations.map((item) => (
<a href={`/civilizations/${item.name}`} class="selection__a">
         <div class="selection__btn">
                <img class="selection__flag" src={item["flag-image"]} alt={item.name} />
                <p class="selection__p">{item.name}</p>
              </div>
    </a>
    ))}
</nav>

</section>
<section class="details" style={`--bg-url: url(${civ["civilization-image"]})`}>
<div class="details__card">
    <h3 class="details__h3">
{civ.title}</h3>
    <p class="details__p">
{civ.description}</p>




</div>



</section>
<Footer></Footer>
</Layout>

<style>

    .selections{
    border-bottom: 2px solid;
    border-image: linear-gradient( to right, transparent, rgba(184, 134, 45, 1), transparent) 1; 

    }

    .selection__nav{
        max-width:1580px ;
        margin: 0 auto;
        padding: 2rem;
        display: grid;
        grid-template-columns:repeat(auto-fit, minmax(350px, 1fr)) ;
        gap: 12px;
    }

    .selection__a{
        text-decoration: none;
        color: var(--color-golden-light);
    }

  .selection__btn {
    background-image:
      url(/img/fondo_subnav.webp), linear-gradient(180deg, rgba(0, 62, 100, 1) 0%, rgba(0, 29, 52, 1) 100%);

    background-blend-mode: overlay;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 10px;
  }

  .selection__flag{
    width: 2rem;
  }

.details{
    min-height: 700px;
    background: linear-gradient(90deg, #002845, #002845, #013f6300), var(--bg-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10%;
}

.details__card{
   max-width: 40%;
    background: linear-gradient(120deg, #d2c9ff36, var(--color-blue-midnight), #013f6300), url( ../../public/img/pattern_right.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-blend-mode: overlay; 
    padding: 3rem;
    box-shadow:  0px 2px 6px rgb(27,27, 27);
}

 .details__h3{
 font-size: 2rem;
 margin-bottom: 1rem;

}

 .details__p{
    font-family: var(--font-secundary);
    font-size: 1rem;
    color: var(--color-text-details);
}

</style>
